/* Footer Section */
.footer-section {
  background-color: var(--clr-light);
  color: var(--clr-shade);
  font-size: var(--fs-h3);
  padding: 2.5em 0;
  text-align: center;
}


.footer-section__social-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
}


.footer-section__social-item {
  padding: 0.5em;
}


.footer-section__social-link,
.footer-section__copyright {
  color: inherit;
  text-decoration: none;
}


.footer-section__social-link:hover,
.footer-section__copyright:hover {
  opacity: 0.7;
}


@media (max-width: 800px) {
  .footer-section__contact {
    font-size: calc(var(--fs-h2) * 0.60);

  }
}
